* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Глобальная настройка */
body {
  max-width: 1440px;
  margin: 30px auto;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}

/* Удаление стилизации у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Удаление маркера у ненумерованного списка */
ul {
  list-style-type: none;
}

/* Удаление отступов у нумерованного списка */
ol {
  padding-left: 0;
}

/* Начальная настройка изображений */
img {
  max-width: 100%;
  height: auto;
}

/* Добавьте свои настройки и стили ниже */
